openapi: 3.2.0
info:
  title: Codat Sync for Commerce API
  description: Codat's business data API standardizes small-business accounting, banking, and commerce data behind a single integration at api.codat.io, and can write bills, payments, and expenses back into connected platforms.
  termsOfService: https://www.codat.io/legal/
  contact:
    name: Codat Support
    url: https://www.codat.io/contact/
  version: '3.0'
servers:
- url: https://api.codat.io
  description: Codat production
security:
- authHeader: []
tags:
- name: Sync for Commerce
  description: Sync commerce sales into accounting software.
paths:
  /companies/{companyId}/sync/commerce/latest:
    parameters:
    - $ref: '#/components/parameters/companyId'
    post:
      operationId: requestCommerceSync
      tags:
      - Sync for Commerce
      summary: Sync latest commerce data
      description: Runs a commerce sync from the last successful sync to the specified date.
      responses:
        '200':
          description: OK
  /config/companies/{companyId}/sync/commerce:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      operationId: getCommerceConfig
      tags:
      - Sync for Commerce
      summary: Get commerce sync configuration
      responses:
        '200':
          description: OK
    post:
      operationId: setCommerceConfig
      tags:
      - Sync for Commerce
      summary: Set commerce sync configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
  /meta/companies/{companyId}/sync/commerce/status:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      operationId: getCommerceSyncStatus
      tags:
      - Sync for Commerce
      summary: Get commerce sync status
      responses:
        '200':
          description: OK
components:
  parameters:
    companyId:
      name: companyId
      in: path
      required: true
      description: Unique identifier for a company.
      schema:
        type: string
        format: uuid
  securitySchemes:
    authHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Codat expects your API key Base64-encoded and sent in the Authorization header using the Basic scheme, for example: `Authorization: Basic YOUR_BASE64_ENCODED_API_KEY`.'
