openapi: 3.0.3
info:
  title: Codat Accounting Expenses API
  description: Codat's business data API standardizes small-business accounting, banking, and commerce data behind a single integration at api.codat.io, and can write bills, payments, and expenses back into connected platforms. This document consolidates representative endpoints from Codat's Platform, Accounting, Banking, Commerce, Lending, Bank Feeds, Sync for Payables, Sync for Expenses, and Sync for Commerce products. See docs.codat.io and github.com/codatio/oas for the authoritative per-product specifications.
  termsOfService: https://www.codat.io/legal/
  contact:
    name: Codat Support
    url: https://www.codat.io/contact/
  version: '3.0'
servers:
- url: https://api.codat.io
  description: Codat production
security:
- authHeader: []
tags:
- name: Expenses
  description: Sync for Expenses - reconcile card and expense transactions.
paths:
  /companies/{companyId}/sync/expenses/expense-transactions:
    parameters:
    - $ref: '#/components/parameters/companyId'
    post:
      operationId: createExpenseTransactions
      tags:
      - Expenses
      summary: Create expense transactions
      description: Creates an expense transaction to be reconciled into accounting software.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
  /companies/{companyId}/sync/expenses/syncs/latest/status:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      operationId: getLatestExpenseSyncStatus
      tags:
      - Expenses
      summary: Get latest sync status
      responses:
        '200':
          description: OK
  /companies/{companyId}/sync/expenses/mappingOptions:
    parameters:
    - $ref: '#/components/parameters/companyId'
    get:
      operationId: getExpenseMappingOptions
      tags:
      - Expenses
      summary: Get mapping options
      description: Gets accounts, tracking categories, and tax rates for expense mapping.
      responses:
        '200':
          description: OK
components:
  parameters:
    companyId:
      name: companyId
      in: path
      required: true
      description: Unique identifier for a company.
      schema:
        type: string
        format: uuid
  securitySchemes:
    authHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Codat expects your API key Base64-encoded and sent in the Authorization header using the Basic scheme, for example: `Authorization: Basic YOUR_BASE64_ENCODED_API_KEY`.'
